* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
/* header */
#header {
    background-image: url('img/img-content.png');
    filter: grayscale(0.5) blur(0.2px);
    height: 75vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.header__text h1 {
    margin: 0;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

.header__text p {
    padding: 20px;
    font-size: 18px;
    color: #fff;
    width: 70%;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 20px;
}

.header__text a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    background-color: #333333;
    padding: 20px 30px;
}

.header__text a:hover {
    background-color: rgb(175, 169, 169);
    color: #000;
}
/* /header */


/* box-text */
#box-text {
    background-color: #EAEAEA;
}

#box-text h1{
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.box-text__items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.box-text__items p{
    padding: 10px 40px;
    text-align: center;
    width: 40%;
}
/* /box-text */


/* box-imgs */
#box-imgs {
    display: grid;
    grid-template-columns: repeat(7, 1fr);   
    grid-template-rows: 1fr;
    grid-gap: 20px;
    background-color: #333333;
    text-align: center;
    padding-bottom: 30px;
}

.box-imgs__item1 {
    grid-column: 3 / 4;
    background-color: #fff;
    height: 420px;
}

.box-imgs__item2 {
    grid-column: 4 / 5;
    background-color: #fff;

}

.box-imgs__item3 {
    grid-column: 5 / 6;
    background-color: #fff;

}

.box-img {
    width: 300px;
    height: 200px;
}

.for-text h4 {
    font-size: 25px;
}

.for-text p {
    font-size: 18px;
    padding: 0 25px;
    opacity: 0.8;
}
/* /box-imgs */


/* text */
#text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.text p {
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
    line-height: 1.5;
}
/* /text */


/* about */
#about {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "contact company"
    ;
}

.contact {
    grid-area: contact;
    background-color: #2690D4;
    padding: 40px;
}

.contact h2, .company h2 {
    color: #fff;
}

.contact p, .company p {
    color: #fff;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}

.contact h4 {
    color: #fff;
    font-weight: 200;
    font-size: 20px;
}

.company {
    grid-area: company;
    background-color: #333333;
    padding: 40px;
}
/* /about */


/* ads */
#ads {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

#ads p {
    margin: 0;
    color: #fff;
    font-size: 20px;
}
/* /ads */


/* footer */
.footer {
    text-align: center;
}

.footer p {
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 0 0 25px #000, 0 0 5px rgb(20, 20, 24);
}
/* /footer */